.Slider {
    background-color: #2CFEE6;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    font: 28px/1em 'Helvetica';
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .piste {
    width: 100%;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgba(255,255,255,0.14) 0%, 
    rgba(255,255,255,0.6) 21.86%, 
    rgba(255,255,255,0.5) 100%);
  }

  .Joystick {
    position: absolute;
    z-index: 500
  }

  .tuto {
    position: fixed;
    top: 23%;
    font-size: 1.5rem;
    color: #0000FF;
    font-family: GothamRounded-Bold;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    -ms-flex-flow: column;
    text-align: center;
  }

  .Score {
    position: fixed;
    bottom: 10%;
    font-size: 40px;
    color: #0000FF;
    font-family: GothamRounded-Bold;
    display: flex;
    align-content: center;
    flex-flow: column
  }

  .FormeDansante {
    position: absolute;
    justify-content: center;
    align-content: center;
    z-index: 0;
    width: 100%;
    height: 100%;
  }